variable "heroku_email" {}
variable "heroku_api_key" {}

variable "blog_api_domain" {
  default = "blog-api.herokuapp.com"
}

provider "heroku" {
    email = "${var.heroku_email}"
    api_key = "${var.heroku_api_key}"
}

resource "heroku_app" "blog-api" {
    name = "blog-api"
    region = "us"

    config_vars {
      LANG = "en_US.UTF-8"
      DATABASE_URL = "postgres://1234@abcd.compute-1.amazonaws.com:5432/123"
      RACK_ENV = "production"
      RAILS_ENV = "production"
      NEW_RELIC_LICENSE_KEY = "123456"
      NEW_RELIC_LOG = "stdout"
      PAPERTRAIL_API_TOKEN = "987654321"
      REDIS_URL = "redis://h:1234@abcd.compute-1.amazonaws.com:15799"
    }
}

resource "heroku_addon" "redis-blog-api" {
    app = "${heroku_app.blog-api.name}"
    plan = "heroku-redis:hobby-dev"
}

resource "heroku_addon" "papertrail-blog-api" {
    app = "${heroku_app.blog-api.name}"
    plan = "papertrail:choklad"
}

resource "heroku_addon" "newrelic-blog-api" {
    app = "${heroku_app.blog-api.name}"
    plan = "newrelic:wayne"
}

resource "heroku_addon" "scheduler-blog-api" {
    app = "${heroku_app.blog-api.name}"
    plan = "scheduler:standard"
}
